<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Board</title>
        <link rel="stylesheet" href="style.css">

    </head>
    <body class="levelBackground">
      <div id="menu bar" class= "topnav">
          <div class="topnav-centered">
            <ul>
              <li><a class="active" href="/mainmenu">Game</a></li>
              <li><a class="navButton" href="/highscore">Hi-Score</a></li>
              <li><a class="navButton" href="/shop">Shop</a></li>
            </ul>
          </div>
          <img src="/images/logo_cropped.png" width= "300px" height= "60px" class="ripoff">

      </div>
        <div id = "game" class="gamediv">
          <form name="game" action="/users/stats" method = "PUT">
            <canvas id = "gameCanvas" width = "750" height = "750" style="border:1px solid #000000;"/>
            <input name= "user_name" value= "">
            <input name= "points" value=0>
            <input name= "circles.hit" value=0>
            <input name= "circles.miss" value=0>
            <input name= "games.won" value=0>
            <input name= "games.lost" value=0>
          </form>
          <script Content-Type="text/javascript" src="./src/osu.js"></script>
        </div>
        <div id = "butt" class="bottombar"> Press Space to Pause or Resume </div>
    </body>
</html>
