<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Landing Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <script>

    </script>

    <body style="background-image: url('/images/logo_black.jpg');">
        <div class= "login">
            <x class="login-title" style="left: 38%">Login</x>
            <form>
                <div class="login-header">
                    <x style="padding-right: 10px">Username</x>
                    <input id="username" name="username" placeholder="Enter Username" value="">
                </div>
                <div class="login-header">
                    <x style="padding-right: 16px">Password</x>
                    <input type="password" id="password" name="password" placeholder="Enter Password" value=""> 
                </div>
                <div style="position: relative; margin: 40px auto 20px;">
                    <input type="submit" class="login-buttons" style="background-color: limegreen;" value="Confirm Login" formaction="/">
                    <x style="position: relative; left: 12px; bottom: 8px;">or</x>
                    <input type="submit" class="login-buttons" style="background-color: limegreen;" value="Continue as Guest" formaction="/mainmenu">
                </div>
            </form>
            
        </div>

        <!--<script src="https://unpkg.com/react@16.0.0/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.development.js"></script>
        <script src="bundle.js"></script>-->
    </body>
</html>