<!DOCTYPE html>
<html>
    <script src="./src/details.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<script>

</script>

<body style="background-image: url('/images/logo_black.jpg');">
    <div class="login">
        <x class="login-title" style="left: 10px">Login</x>
        <form id="login-form" action="/users/login" method="POST">
            <div class="login-header">
<!--                <x style="padding-right: 10px">Username</x>-->
                <input class="login_input" id="user_name" name="user_name" placeholder="Username" value="">
            </div>
            <div class="login-header">
<!--                <x style="padding-right: 16px">Password</x>-->
                <input class="login_input" type="password" id="user_pass" name="user_pass" placeholder="Password" value="">
            </div>
            <div class="login-header" style="margin-bottom: 0px">
                <div>
                    <input type="submit" class="login-buttons" style="padding-left: 20px; padding-right: 20px;" value="Login">
                    <x>or</x>
                    <input type="submit" class="login-buttons" style="background-color: gray" value="Continue as Guest" formmethod="GET" formaction="/mainmenu">
                </div>
                <div>
                    <button class="login-buttons signup-button" formmethod="GET" formaction="/signup">Sign Up</button>
                </div>
            </div>

        </form>

    </div>



    <!--<script src="https://unpkg.com/react@16.0.0/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.development.js"></script>
        <script src="bundle.js"></script>-->
</body>

</html>