<!DOCTYPE html>
<html>
  <script src="./src/details.js"></script>
<head>
  <meta charset="UTF-8">
  <title>Main Menu</title>
  <link rel="stylesheet" href="style.css">

</head>

<body class="mainbackground">
  <div id="menu bar" class="topnav">
    <div class="topnav-centered">
      <ul>
        <li><a class="active" href="/mainmenu">Game</a></li>
        <li><a class="navButton" href="/highscore">Hi-Score</a></li>
        <li><a class="navButton" href="/shop">Shop</a></li>
      </ul>
    </div>
    <img src="/images/logo_cropped.png" width="300px" height="60px" class="ripoff">

    <div>
      <a class="accountbtn" href="/">Logout</a>
    </div>

    <div class = "pointsdisplay">
      <p id = pointsdisplay></p>
    </div>

    <div class = "usernamedisplay">
      <p id = usernamedisplay></p>
    </div>
  </div>

  <div id="game bar" class="bottombar">
    <div class="gameSetting">
      <form id="gameSet">
        <select name="difficulty" id = "d">
          <option value="0">Easy</option>
          <option value="1">Medium</option>
          <option value="2">Hard</option>
        </select>
        <select name="theme" id = "t">
          <option value="Default">Default</option>
          <option value="Dawn Winery">Dawn Winery</option>
          <option value="Hotto Dogu">Hotto Dogu</option>
          <option value="Umbrella">Umbrella</option>
        </select>
        <input class="play" type="button" value="Play!" onClick="setCookie()">
      </form>
    </div>
  </div>

  <audio id="audio" src="..sounds\lobbyMusic.mp3"></audio>
  <div class="ownedperks" visibility: hidden>
    <p id="numsaves" class="displayperks"></p>
    <p id="numslows" class="displayperks"></p>
    <p id="numballs" class="displayperks"></p>
  </div>
  <script>

    //persistent theme/diff selection
    document.getElementById("d").value = checkCookie("diff", "0");
    document.getElementById("t").value = checkCookie("theme", "Default");

    //music
    document.addEventListener('click', musicPlay);
    function musicPlay() {
      document.getElementById('audio').play();
      document.removeEventListener('click', musicPlay);
    }

    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    function checkCookie(cname, dval) {
      var username = getCookie(cname);
      if (username != "") {
        return username;
      } else {
        return dval;
      }
    }

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function setCookie() {
      var d = document.forms["gameSet"]["difficulty"].value;
      var t = document.forms["gameSet"]["theme"].value;
      var p = new Date();
      p.setTime(p.getTime() + (3 * 24 * 60 * 60 * 1000));
      var expires = "expires=" + p.toUTCString();
      document.cookie = "diff=" + d + ";" + expires + "path=/";
      document.cookie = "theme=" + t + ";" + expires + "path=/";
      window.location.replace("/board");
    }
  </script>


</body>

</html>
