<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Shop</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="mainbackground">
      <div id="menu bar" class= "topnav">
          <div class="topnav-centered">
            <ul>
              <li><a class="navButton" href="/mainmenu">Game</a></li>
              <li><a class="navButton" href="/highscore">Hi-Score</a></li>
              <li><a class="active" href="/shop">Shop</a></li>
            </ul>
          </div>

          <div>
            <a class="accountbtn" href="/">Account</a>
          </div>

          <img src="/images/logo_cropped.png" width= "300px" height= "60px" class="ripoff">

      </div>
        <div class="grid-container">
          <form id = "shop">
                  <button id = "0" value = "100" class="grid-item" onClick = "buy(0)">Bigger Circles 1</button>
                  <button id = "1" value = "100" class="grid-item" onClick = "buy(1)">Time Slow 1</button>
                  <button id = "2" value = "100" class="grid-item" onClick = "buy(2)">More Saves 1</button>
                  <button id = "3" value = "100" class="grid-item" onClick = "buy(3)">Background 1</button>
                  <button id = "4" value = "100" class="grid-item" onClick = "buy(4)">Cursor Design 1</button>
                  <button id = "5" value = "100" class="grid-item" onClick = "buy(5)">More Saves 2</button>
                  <button id = "6" value = "100" class="grid-item" onClick = "buy(6)">Bigger Circles 3</button>
                  <button id = "7" value = "100" class="grid-item" onClick = "buy(7)">Time Slow 3</button>
                  <button id = "8" value = "100" class="grid-item" onClick = "buy(8)">More Saves 3</button>
          </form>
        </div>
        <div id="game bar" class= "bottombar"></div>
        <script>
          var user = document.getCookie("user");
          var points = 0; //TODO: get points value from DB

          function buy(thing){
            var form = document.getElementById("shop");
            var button = form.getElementById(thing);
            if(points < button.value){
              alert("You are broke.");
              return;
            }else{
              //TODO: subtract points, add to purchased list
              alert("You have purchased an item.");
            }
          }

          function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
              var c = ca[i];
              while (c.charAt(0) == ' ') {
                c = c.substring(1);
              }
              if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
              }
            }
            return "";
          }
        </script>
    </body>
</html>
