<!DOCTYPE html>
<html>
  <script src="./src/details.js"></script>
<head>
  <meta charset="UTF-8">
  <title>Shop</title>
  <link rel="stylesheet" href="style.css">
</head>

<body class="leaderboardBackground">
  <div id="menu bar" class="topnav">
    <div class="topnav-centered">
      <ul>
        <li><a class="navButton" href="/mainmenu">Game</a></li>
        <li><a class="navButton" href="/highscore">Hi-Score</a></li>
        <li><a class="active" href="/shop">Shop</a></li>
      </ul>
    </div>

    <div>
      <a class="accountbtn" href="/">Account</a>   
    </div>

    <div class = "pointsdisplay">
      <p id = pointsdisplay></p>
    </div>

    <div class = "usernamedisplay">
      <p id = usernamedisplay></p>
    </div>
    

    <img src="/images/logo_cropped.png" width="300px" height="60px" class="ripoff">

  </div>
  <div class="shop">
  <form>
    <div style="float:left">
      <button id="saves1" value="100" class="shop-item" onClick="buy('saves', 1)">More Saves 1</button>
      <button id="saves2" value="200" class="shop-item" onClick="buy('saves', 2)">More Saves 2</button>
      <button id="saves3" value="400" class="shop-item" onClick="buy('saves', 3)">More Saves 3</button>
    </div>

    <div style="float:left">
      <button id="time1" value="100" class="shop-item" onClick="buy('time', 1)">Slow Time 1</button>
      <button id="time2" value="200" class="shop-item" onClick="buy('time', 2)">Slow Time 2</button>
      <button id="time3" value="400" class="shop-item" onClick="buy('time', 3)">Slow Time 3</button>
    </div>

    <div style="float:left">
      <button id="ball1" value="100" class="shop-item" onClick="buy('ball', 1)">Larger Balls 1</button>
      <button id="ball2" value="200" class="shop-item" onClick="buy('ball', 2)">Larger Balls 2</button>
      <button id="ball3" value="400" class="shop-item" onClick="buy('ball', 3)">Larger Balls 3</button>
    </div>
  </form>


  
  </div>
  <div class="ownedperks"> 
    <p id="numsaves" class="displayperks"></p>
    <p id="numslows" class="displayperks"></p>
    <p id="numballs" class="displayperks"></p>
  </div>
  

  <script>
    var user = getCookie("user");
    var points = getCookie("points");

    function displayOwnedPerks(){
      var saves = geCookie("saves");
      //same for all others

      document.getElementById("pargraph").innerHTML = "More Lives Level: " + saves;
      //same for all others
    }

    function buy(perk, level) {
      var button = document.getElementById(perk + level);
      var owned = getCookie(perk);
      console.log(perk + level);
      console.log(owned);

      if (owned >= level) {
        alert("That's silly. Why would you buy something you already have?");
      } else {
        console.log("button value " + button.value);
        console.log("points " + points);
        console.log("T/F");
        console.log(points > button.value);
        if (eval(points > button.value)) {
          console.log("hit");
          points -= button.value;
          var p = new Date();
          p.setTime(p.getTime() + (3 * 24 * 60 * 60 * 1000));
          var expires = "expires=" + p.toUTCString();
          document.cookie = perk + "=" + level + ";" + expires + "path=/";
          document.cookie = "points=" + points + ";" + expires + "path=/";
        }
      }
      document.cookie = "points=5000" + ";" + expires + "path=/";
      document.cookie = perk + "=0" + ";" + expires + "path=/";
    }


  </script>
</body>

</html>