<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Shop</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="mainbackground">
      <div id="menu bar" class= "topnav">
          <div class="topnav-centered">
            <ul>
              <li><a class="navButton" href="/mainmenu">Game</a></li>
              <li><a class="navButton" href="/highscore">Hi-Score</a></li>
              <li><a class="active" href="/shop">Shop</a></li>
            </ul>
          </div>
          <img src="/images/logo_cropped.png" width= "300px" height= "60px" class="ripoff">
          
          <div class="dropdown">
              <button class="account">Account \/</button>
                <div class="dropdown-content">
                  <a href="#">Account Details</a>
                  <a href="#">Account Settings</a>
                  <a href="#">Logout</a>
                </div>
          </div>
      </div>
        <div class="grid-container">
                  <div class="grid-item">Bigger Circles 1</div>
                  <div class="grid-item">Time Slow 1</div>
                  <div class="grid-item">More Saves 1</div>
                  <div class="grid-item">Background 1</div>
                  <div class="grid-item">Cursor Design 1</div>
                  <div class="grid-item">More Saves 2</div>
                  <div class="grid-item">Bigger Circles 3</div>
                  <div class="grid-item">Time Slow 3</div>
                  <div class="grid-item">More Saves 3</div>
        </div>

        <div id="game bar" class= "bottombar"></div>
        <script src="https://unpkg.com/react@16.0.0/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.development.js"></script>
        <script src="bundle.js"></script>
    </body>
</html>
