<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Shop</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="mainbackground">
      <div id="menu bar" class= "topnav">
          <div class="topnav-centered">
            <ul>
              <li><a class="navButton" href="/mainmenu">Game</a></li>
              <li><a class="navButton" href="/highscore">Hi-Score</a></li>
              <li><a class="active" href="/shop">Shop</a></li>
            </ul>
          </div>

          <div>
            <a class="accountbtn" href="/">Account</a>
          </div>

          <img src="/images/logo_cropped.png" width= "300px" height= "60px" class="ripoff">

      </div>
        <div class="grid-container">
                  <div class="grid-item" >Bigger Circles 1</div>
                  <div class="grid-item">Time Slow 1</div>
                  <div class="grid-item">More Saves 1</div>
                  <div class="grid-item">Background 1</div>
                  <div class="grid-item">Cursor Design 1</div>
                  <div class="grid-item">More Saves 2</div>
                  <div class="grid-item">Bigger Circles 3</div>
                  <div class="grid-item">Time Slow 3</div>
                  <div class="grid-item">More Saves 3</div>
        </div>
        <div id="game bar" class= "bottombar"></div>
        <script>
          var user = document.getCookie("user");
          var points = 0; //TODO: get points value from DB

          function buy(thing){
            var form = document.getElementById("shop");
            var button = form.getElementById(thing);
            if(points < button.value){
              alert("You are broke.");
              return;
            }else{
              //TODO: subtract points, add to purchased list
              alert("You have purchased an item.");
            }
          }

          function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
              var c = ca[i];
              while (c.charAt(0) == ' ') {
                c = c.substring(1);
              }
              if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
              }
            }
            return "";
          }
        </script>
    </body>
</html>
