<!DOCTYPE html>
<html>
    <script src="./src/details.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<script>
    function check() {
        if (document.getElementById('user_pass').value == document.getElementById('confirm_password').value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
        }
    }
</script>

<body style="background-image: url('/images/logo_black.jpg');">
    <div class="login" style="height: 260px">
        <x class="login-title" style="left: 34%">Signup</x>
        <form action="/users" method="POST">
            <div class="login-header">
                <x style="padding-right: 10px">Username</x>
                <input id="user_name" name="user_name" placeholder="Enter Username" value="" required>
            </div>
            <div class="login-header">
                <x style="padding-right: 16px">Password</x>
                <input type="password" id="user_pass" name="user_pass" placeholder="Enter Password" onkeyup="check()"
                    required>
            </div>
            <div class="login-header">
                <input style="position: relative; left: 30%;" type="password" id="confirm_password"
                    name="confirm_password" placeholder="Confirm Password" onkeyup="check()" required>
            </div>
            <x style="position: relative; left: 40%; top:10px;" id="message"></x>
            <div style="position: relative; margin: 30px 0px 20px;">
                <input type="submit" class="signup-button" style="background-color: limegreen;" value="Confirm Signup">
            </div>
        </form>

    </div>

    <!--<script src="https://unpkg.com/react@16.0.0/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16.0.0/umd/react-dom.development.js"></script>
    <script src="bundle.js"></script> -->
</body>

</html>