.divborder{
    border: 3px solid #73AD21;
}

* {
    font-family: 'Trebuchet MS', sans-serif;
}

nav {
    display:inline-block;
}

a:hover {
    color:#000000;
    background-color: snow;
}

b:hover {
    color:#000000;
    background-color: green;
}

c:hover {
    color:#000000;
    background-color: yellow;
}

d:hover {
    color:#000000;
    background-color: red;
}

.mainbackground {
	background-image: url('https://i.pinimg.com/originals/5a/64/63/5a6463e51b284bfcbc34869dc72cf0cd.gif');
	background-size:100%;
	background-repeat:repeat;  
}

.navButton {    
    font-size:x-large;
    color:white;
    padding:8px 16px;
    background-color: #ff66aa;
    width:auto;
    border:none;
    display:inline-block;
    text-decoration: none;
    
    cursor:pointer;
}

.difButton {    
    position:relative;
    font-size:x-large;
    color:#FFFFFF;   
    background-color: #ff66aa;
    text-align:center;
    top: 50%;
    left: 30%;
    width:40%;   
    border:none;
    display:block;
    padding:50px;
    margin-bottom:50px;
    text-decoration: none;
    cursor:pointer;
}

.title {
    position:relative;
    top: 30%;
    left: 40%;
    width: 20%;
    height: 20%;
    text-align: center;    
}

.title:after{
  content: '';
  position: absolute;
  top: -20px;
  left: -15px;
  right: -15px;
  bottom: -20px;
  border: red 2px solid;
}

.titleimg{
    position:absolute;
    top: 25%;
    right: 50%;
}

.menubuttons{
    position: absolute;
    top: 43%;
    right: -62%;
}

.grid-container {
  position: fixed;
  top: 40%;
  right: 37%;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #bf1f66;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 102, 170, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}